<form action="/api/resources/upload" method="post">
  <div class="form-group">
    <label class="control-label">Enter Resource Title</label>
    <div>
        <input type="text" class="form-control input-lg" name="title" value="">
    </div>
</div>
<div class="form-group">
  <label class="control-label">Enter Resource Description</label>
  <div>
      <input type="text" class="form-control input-lg" name="description" value="">
  </div>
</div>
<div class="form-group">
  <label class="control-label">Enter Resource Link</label>
  <div>
      <input type="text" class="form-control input-lg" name="link" value="">
  </div>
</div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>